/* ul{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131cb;
    padding:10px;
    padding: 10px;
    /* flex: 1; */
   /* list-style: none; */
   
/* } */ */
/* ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
} */



header{
    background-color:rgba(0, 0, 0, 0.489);
   
}
.navbar{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.279);
    
}
.logo{
    font-family:  Monotype Corsiva;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.nav-links ul{
    list-style: none;
    display: flex;
    gap:30px;
    margin-right: 10px;
    
}
.nav-links li a{
    text-decoration: none;
    color: aliceblue;
    font-size:20px;
  


}
.nav-links a:hover{
    color:rgba(240, 248, 255, 0.827);
}