.contact {
 background-color: #212020;
 color: aliceblue;
  }
  .links {
    display:flex;
    justify-content: center;
    align-items: center;

  }

a .image{
    font-size: 20px;
    background-color: #403f3f80;
    cursor: pointer;
    
  }



 .image{
  filter: invert(100%);
  width: 50px;
 }
 .image:hover{
  filter: invert(120%) brightness(3.2);
 }
