/* .projects {
    background-color: #333;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
  }
  
  .project-card {
    background: #413f3f;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
  }
   */
   .projects {
    padding: 50px 20px;
    background:linear-gradient(180deg,#000000d2,rgba(226, 64, 5, 0.703));
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .project-card {
    /* background:linear-gradient(180deg,hsla(108, 39%, 23%, 0.73),rgba(246, 114, 66, 0.703)); */
   height:120px;
    background: rgba(255, 255, 255, 0.819);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translate(-5px);
  }
  
  .project-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 15px;
  }
  
  .project-card a {
    color: white;
    background-color: #0077ff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  